<nav class="navbar navbar-expand-lg navbar-light bg-inverse" style="border-bottom: #17a2b8 1px solid">
    <a class="navbar-brand" href="#"><span class="app-color display-4">{{ title }}</span></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav ml-auto">
            <div class="nav-item form-inline my-2 my-sm-0" style="padding: 0.3rem;"> Welcome {{username}}  </div>
            <!--<li class="nav-item dropdown" style="padding: 0.3rem;">-->
            <!--<a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"-->
            <!--aria-haspopup="false" aria-expanded="false">-->
            <!--Edit Profile-->
            <!--</a>-->
            <!--<div class="dropdown-menu" aria-labelledby="navbarDropdown">-->
            <!--<a class="dropdown-item bg-light" href="#">Change Username</a>-->
            <!--<a class="dropdown-item bg-light" href="#">Change Password</a>-->
            <!--<a class="dropdown-item bg-light" href="#">Change Email</a>-->
            <!--<a class="dropdown-item bg-light" href="#">Change Phone</a>-->
            <!--</div>-->
            <!--</li>-->
            <div class="nav-item form-inline" style="padding: 0.3rem;">
                <a href="/logout">
                    <button class="btn btn-outline-info my-2 my-sm-0" type="submit">Logout</button>
                </a>
            </div>
        </ul>
    </div>
</nav>