{{> header }}

<section id="cover">
    <div class="container">
        <div class="col-sm-10 col-sm-offset-1 center">
            <div id="error-404-figure">404</div>
            <div id="error-404-text">PAGE NOT FOUND</div>
            <br>
            <div>
                <p>You can visit the home page here:</p>
                <a href="/"><button class="btn btn-info-outline" role="button">Home</button></a>
            </div>
        </div>
    </div>
</section>

{{> footer }}