{{> header }}
<div class="photo-cover">
    <section id="cover">
        <div class="container">
            <div class="justify-content-center align-items-center">
                <div id="error-404-figure" class="text-center">404</div>
                <div id="error-404-text" class="text-center">PAGE NOT FOUND</div>
                <br>
                <div class="text-center">
                    <p>You can visit the home page here:</p>
                    <a href="/">
                        <button class="btn btn-outline-info" role="button">Home</button>
                    </a>
                </div>
            </div>
        </div>
    </section>
</div>

{{> footer }}