<!--{{!-- {{Create tasks page}} --}}-->

<!--<h1>Tasks: {{tasks}}</h1>-->
<!--<br>-->
<!--<h3>Add Tasks Here</h3>-->
<!--<br>-->
<!--<form action="/addTask" method="post">-->
    <!--<input type="text" name="task" required />-->
    <!--<input type="submit" value="Add" />-->
<!--</form>-->