<div class="photo-cover">
    <section class="cover">
        <div class="container">
            <!--<div class="row">-->

            <div class="modal fade bd-example-modal-lg" data-backdrop="static" data-keyboard="false" tabindex="-1">
                <div class="modal-dialog modal-sm">
                    <div class="modal-content" style="width: 48px">
                        <span class="fa fa-spinner fa-spin fa-3x"></span>
                    </div>
                </div>
            </div>

            <div class="justify-content-center align-items-center" style="padding: 0.8rem">
                <h1 class="display-4" id="header"> {{ header }} </h1>
                <br>

                <p class="text-center"><em>{{ welcome_message }}</em></p>

                <div class="error-div text-center">
                    {{ error_message }}
                </div>

                <form action="/login" method="post" class="form-control-static">
                    <div class="form-group">
                        <label class="sr-only">email</label>
                        <input id="login-email" type="email" class="form-control form-control-md" placeholder="Email"
                               name="email"
                               required="required"/>
                    </div>
                    <div class="form-group">
                        <label class="sr-only">password</label>
                        <input id="login-password" type="password" class="form-control form-control-md"
                               placeholder="Password"
                               name="password" required="required"/>
                    </div>

                    <button id="login-btn" type="submit" class="btn btn-info form-control">Login</button>
                </form>
                <br>
                <div class="list-inline-item">
                    <div>
                        <small class="text-*">Don't have an account yet? <a href="/" class="login">Register</a>
                        </small>
                    </div>
                    <div>
                        <small><a href="#" class="login">Forgot password?</a></small>
                    </div>
                </div>
                <br>
            </div>
        </div>
        <!--</div>-->
    </section>
</div>

<script>
    $(document).ready(function () {

        $('#login-btn').on('click', function () {
            $('.modal').modal('show');
            setTimeout(function () {
                $('.modal').modal('hide');
            }, 3000);
        });

    });

</script>