html {
    overflow-y: scroll;
    height: 100%;
}

body {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 1rem;
    height: 100%;
    line-height: 1.5;
}

nav {
    background-color: rgba(0,0,0,.05);
}

.photo-cover {
    background: #222 url("../img/guitar.jpg") center no-repeat;
    height: 100%;
    padding: 3rem;
}

@media (max-width: 450px) {
    .photo-cover {
        background: none;
        background-size: cover;
        padding: 0.1rem;
    }

    .cover {
        background-color: white;
        -webkit-border-radius: 12px;
        -moz-border-radius: 12px;
        border-radius: 12px;
        padding: 0.1rem;
    }
}

#header {
    color: #17a2b8;
}

.cover {
    background-color: white;
    -webkit-border-radius: 12px;
    -moz-border-radius: 12px;
    border-radius: 12px;
    padding: 1rem;
}

#todo-list {
    margin-bottom: 30px;
}

.app-color {
    color: #17a2b8;
}

a.login {
    color: #17a2b8;
}

a.login:hover {
    font-weight: bolder;
    text-decoration: none;
}

#typedJS {
    color: #17a2b8;
    position: relative;
}

.error-div {
    background-color: inherit;
    color: #f54739;
    padding: 1rem 1rem 1rem 1rem;
    text-align: center;
}

#error-404-figure {
    color: #17a2b8;
    font-size: 8rem;
    letter-spacing: 0.5rem;
    padding: 1rem;
}

#error-404-text {
    border-radius: 12px;
    background-color: #17a2b8;
    color: #ffffff;
    font-size: 200%;
    font-weight: bolder;
    letter-spacing: 0.3rem;
    margin: auto;
    padding: 0.3rem 0.3rem 0.3rem 0.3rem;
}

#add-task-block {
    display: none;
}

#cancel-add-task, #save-task {
    display: none;
    margin-left: 1rem;
}

.user-container {
    padding: 2rem;
}

#add-and-cancel {
    display: inline-flex;
}

.task-body-block {
    display: none;
    padding: 1rem;
}

.task-link {
    color: #17a2b8;
}

a.dropdown-item:hover {
    background-color: #17a2b8!important;
    color: white;
}

.bd-example-modal-lg .modal-dialog{
    display: table;
    position: relative;
    margin: 0 auto;
    top: calc(50% - 24px);
}

.bd-example-modal-lg .modal-dialog .modal-content{
    background-color: transparent;
    border: none;
}