html {
    overflow-y: scroll;
    height: 100%;
}

body {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 1rem;
    height: 100%;
    line-height: 1.5;
    padding: 3rem;
}

@media (min-width: 1200px) {
    #body {
        background: #222 url("../img/banjo.jpg") center no-repeat;
        background-size: cover;
        padding: 4rem 5rem 5rem 5rem;
    }
}

@media (min-width: 992px) and (max-width: 1199px) {
    #body {
        background: #222 url("../img/banjo.jpg") center no-repeat;
        background-size: cover;
        padding: 4rem 5rem 5rem 5rem;
    }
}

@media (min-width: 768px) and (max-width: 991px) {
    #body {
        background: #222 url("../img/banjo.jpg") center no-repeat;
        background-size: cover;
    }
}

@media (max-width: 767px) {
    #body {
        background: none;
        background-size: cover;
        margin: 0.1rem;
        padding: 0.2rem;
    }
}

@media (max-width: 480px) {
    #body {
        background: none;
        background-size: cover;
        margin: 0.1rem;
        padding: 0.2rem;
    }
}

#header {
    color: #5bc0de;
}

#cover {
    background-color: white;
    -webkit-border-radius: 12px;
    -moz-border-radius: 12px;
    border-radius: 12px;
    padding: 1rem;
}

#todo-list {
    margin-bottom: 30px;
}

a {
    color: #00B7FF;
}

#typedJS {
    color: #5bc0de;
    position: relative;
}

#error-div {
    background-color: inherit;
    color: #f54739;
    padding: 1rem 1rem 1rem 1rem;
    text-align: center;
}

.center {
    text-align: center;
}

#error-404-figure {
    color: #5bc0de;
    font-size: 1350%;
    letter-spacing: 0.5rem;
    padding: 2rem;
}

#error-404-text {
    border-radius: 12px;
    background-color: #5bc0de;
    color: #ffffff;
    font-size: 200%;
    font-weight: bolder;
    letter-spacing: 0.5rem;
    margin: auto 5rem;
    padding: 0.5rem 1rem 0.5rem 1rem;
}